<%- include('../partials/header') %>

 <h1><%=title%></h1>
      <img src="/images/cyberpunk.png" alt="Cyberpunk 2020 cover art" style="height: auto; width: auto; max-width: 393px; max-height: 512px;">
      <br>    
      <p>Cyberpunk 2020 is a tabletop role-playing game in the </p>    
      <p>dystopian science fiction genre, written by Mike Pondsmith</p>    
      <p>and first published by R. Talsorian Games.</p>
      <br>  
      <p>Unlike other tabletop roleplaying games (for example,</p>    
      <p>Dungeons & Dragons), Cyberpunk 2020 is known to be</p>    
      <p>very brutal with extreme attention to detail when it </p>
      <p>comes to weapons and ballistics.</p>

<%- include('../partials/footer') %>