<%- include('../partials/header') %>

 <h1><%=title%></h1>
      <img src="/images/doom.png" alt="Doom cover art" style="height: auto; width: auto; max-width: 400px; max-height: 300px;">
      <p>Doom is a 1993 first-person shooter game developed </p>    
      <p>by id Software for MS-DOS. Players assume the role </p>    
      <p>of a space marine, popularly known as Doomguy, </p>    
      <p>fighting their way through hordes of invading demons </p>
      <p>from hell.</p>

      <br>
      <p>A very nostalgic game for me.</p>

<%- include('../partials/footer') %>