<%- include('../partials/header') %>

 <h1><%=title%></h1>
      <p>Hello!</p>    
      <p>Welcome to my webpage</p>    
      <p>This page serves as a demo to Node, EJS, and Express.</p>
      <br>
      <p>I've put in three pages with the following topics:</p>    
      <p>Cyberpunk 2020, MRE, Doom (1993)</p>
      <img src="/images/hello.jpg" alt="Boy waving hello" style="height: auto; width: auto; max-width: 300px; max-height: 300px;">
<%- include('../partials/footer') %>