<%- include('../partials/header') %>

 <h1><%=title%></h1>
      <img src="/images/mre.jpg" alt="Doom cover art" style="height: auto; width: auto; max-width: 750px; max-height: 562px;">
      <br> 
      <p>The Meal, Ready-to-Eat (MRE) is a self-contained individual United States military ration used by the </p>    
      <p>United States Armed Forces and Department of Defense (DoD). It is intended for use by American service</p>    
      <p>members in combat or field conditions where other food is not available. MREs have also been distributed to </p>
      <p>civilians as humanitarian daily rations during natural disasters.</p>    

<%- include('../partials/footer') %>